* {
  font-family: Pretendard;
  box-sizing: border-box;
}
body {
  margin: 14.4375rem auto 0;
  display: flex;
  justify-content: center;
}
.body-signup {
  margin: 3.75rem auto 0;
}
main {
  width: 40rem;
  height: 27.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.main-signup {
  height: 53.5625rem;
}
.main-logo {
  width: 24.75rem;
  height: 8.25rem;
}
form {
  width: 40rem;
  height: 27.875rem;
  display: flex;
  gap: 1.5rem;
  border-radius: 1.25rem;
  flex-direction: column;
}
.form-signup {
  height: 33.6875rem;
  gap: 1rem;
}
.input-label {
  width: 100%;
  height: 1.625rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  gap: 1rem;
}
.input-field {
  width: 640px;
  height: 3.5rem;
  gap: 0.625rem;
  border-radius: 0.75rem;
  background-color: #F3F4F6;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #1F2937;
  border: none;
  padding-left: 1.5rem;
}
.input-password {
  background-image: url(img/password_blind.svg);
  background-repeat: no-repeat;
  background-position: 37rem center;
  padding-right: 1.5rem;
}
.login-button ,.sign-button {
  height: 3.5rem;
  gap: 0.625rem;
  border-radius: 2.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  border: none;
  background-color:#3692FF;
  color: #F3F4F6;
}
.login-button:hover ,.sign-button:hover {
  background-color: #1967D6;
}
.easy-login {
  width: 100%;
  height: 4.625rem;
  background-color: #E6f2ff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.625rem;
  padding:1rem 1.4375rem;
}
.easy-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
}
.login-sites {
  display: flex;
  gap: 1rem;
  width: 6.25rem;
  height: 2.625rem;
}
.login-site {
  width: 2.625rem;
}
.signup-text {
  width: 12.3125rem;
  height: 1.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.signlink-text {
  color: #3692FF;
}