* {
  font-family: Pretendard;
  box-sizing: border-box;
}
body {
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
}
main {
  width: 640px;
  height: 857px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.main-logo{
  width: 396px;
  height: 132px;
}
form {
  width: 640px;
  height: 539px;
  display: flex;
  gap: 1rem;
  border-radius: 20px;
  flex-direction: column;
}
.input-label{
  width: 100%;
  height: 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  gap: 16px;
}
.input-field{
  width: 640px;
  height: 56px;
  gap: 10px;
  border-radius: 12px;
  background-color: #F3F4F6;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border: none;
  padding-left: 24px;
}
.sign-button {
  height: 56px;
  gap: 10px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  border: none;
  background-color:#3692FF;
  color: #F3F4F6;
}
.sign-button:hover{
  background-color: #1967D6;
}
.easy-login{
  width: 100%;
  height: 4.625rem;
  background-color: #E6f2ff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.625rem;
  padding: 0 1.4375rem;
}
.easy-text{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
}
.login-sites{
  display: flex;
  gap: 16px;
  width: 100px;
}
.login-site{
  width: 42px;
  height: 42px;
}
.signup-text{
  width: 197px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.signlink-text{
  color: #3692FF;
}